In [1]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading https://files.pythonhosted.org/packages/1c/74/26f2fc9f7d9c0be9c91e29519c277da101e00d3f0e72ec1b5f72e4a87b65/cx_Oracle-7.1.0-cp36-cp36m-win_amd64.whl (186kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-7.1.0

In [41]:
import pandas as pd
import cx_Oracle
from pandas import DataFrame

# The credentials of HR Schema

username='hr' 
password='hr' 

# Configuration details of Oracle connection
# This assumes that a local Oracle XE Database has been installed on Port : 1521 with SID as XE

dsn = cx_Oracle.makedsn(host='localhost',port=1521,sid='xe')
con = cx_Oracle.connect(user=username, password=password, dsn= dsn ,encoding = "UTF-8", nencoding = "UTF-8")

# The string is quoted with an u for Unicode Character

sql=u'select * from countries where rownum < 4'
c = con.cursor()
c.execute(sql)
results=c.fetchall()
sz = len(results)

df2 = pd.read_sql(sql, con)

col_names = []
for i in range(0, len(c.description)):
    col_names.append(c.description[i][0])

print(col_names)
print(results)
print(sz)
df2.head()
for row in c:
    #print (row[0], "-", row[1])
    df = DataFrame(c.fetchall())
con.close()

['COUNTRY_ID', 'COUNTRY_NAME', 'REGION_ID']
[('AR', 'Argentina', 2), ('AU', 'Australia', 3), ('BE', 'Belgium', 1)]
3

In [42]:
df2

  COUNTRY_ID COUNTRY_NAME  REGION_ID
0         AR    Argentina          2
1         AU    Australia          3
2         BE      Belgium          1